* {
  margin: 0;
  padding: 0;
  color: aliceblue;
  font-family: "AdventureSubtitles";
}

/* SCROLLBAR START */

::-webkit-scrollbar {
  width: 7px;
  background-color: white;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.589);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}

/* SCROLLBAR END */

button {
  background-color: transparent;
  border: none;
  width: max-content;
  height: max-content;
  padding: 0.5vw 1vw;
  font-size: 1.2vw;
  border-radius: 10px;
  cursor: pointer;
}

.button-simple-ein {
  text-decoration: underline 1px;
}

.button-ein {
  border: 1px solid aliceblue;
}

.button-ein-not {
  border: 1px solid gray;
  color: gray;
}

.button-ein-round {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5vw;
  width: 2.5vw;
  padding: 0vw;
  border-radius: 100%;
  border: transparent 0px solid;
  background-color: rgba(255, 255, 255, 0.281);
  cursor: pointer;
  transform: scale(1);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}

.button-ein-round:hover {
  transform: scale(1.1, 1.1) translateZ(0px) translate3d(0px, 0px, 0px);
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
}

.button-ein-round img {
  width: 60%;
  height: 60%;
}

.button-password {
  width: 1vw;
  height: 1vw;
  cursor: pointer;
}

.path-pass {
  fill: white;
}

.success {
  color: green;
}

.error {
  color: red;
}

html,
body {
  width: 100%;
  height: max-content;
}

body {
  background-image: url(../img/main_back.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

header {
  height: 7vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.324);
}

.logo {
  background-image: url(../img/vg.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 80%;
  width: 25%;
}

.container-add-list {
  height: 80%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav {
  height: 80%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main {
  height: calc(100vh - 7vw);
  padding: 0 calc(3.5vw + 24px);
}

.container-ein {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.container-zwei {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-zwei img {
  width: 3.5vw;
  height: 3.5vw;
}

.container-form,
.container-img-main {
  width: 30%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.container-form {
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.container-form h2 {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2vw;
  padding: 1vw;
  /* border: 2px solid white;
  border-top: none; */
  text-transform: uppercase;
  text-decoration: underline;
}

.container-list {
  height: 80%;
  width: 60%;
  padding: 1vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.324);
  border-radius: 15px;
  box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}

.container-list h2 {
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2vw;
  padding: 1vw;
  text-transform: uppercase;
  text-decoration: underline;
}

.container-multi-tasks {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container-tasks {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu-list {
  width: 100%;
  height: 2vw;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 1vw 0;
  padding: 0.2vw 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  font-size: 0.8vw;
}

.container-multi-task {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}

.container-task {
  width: 100%;
  height: max-content;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin: 1vw 0;
  padding: 1vw 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.name,
.created-at,
.valid-task,
.ending-at,
.delete-task,
.edit-task {
  width: calc(100% / 6);
  height: max-content;
  font-size: 0.5vw;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-field {
  width: 60%;
  height: 3vw;
  margin: 1vw 0;
  border-width: 2px;
  border-style: dashed;
  border-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-field legend {
  font-size: 0.8vw;
  text-transform: uppercase;
}

.login-field input {
  font-size: 0.8vw;
  background-color: rgba(128, 128, 128, 0.1);
  border: 0.2px solid gray;
  border-radius: 10px;
  height: 1vw;
  width: 90%;
  padding: 0.2vw;
  outline: none;
}

.login-field input:focus,
.login-field input:active,
.login-field input:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid gray;
}

.namelist {
  font-size: 0.8vw;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.2px solid white;
  border-radius: 10px;
  height: 30%;
  width: 60%;
  padding: 0.2vw;
  outline: none;
}

.namelist:focus,
.namelist:active,
.namelist:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid gray;
}

.login-submit {
  width: 60%;
  height: 3vw;
  margin: 1vw 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-main {
  background-image: url(../img/tachemain.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 80%;
}

@font-face {
  font-family: "AdventureSubtitles";
  src: url("../font/AdventureSubtitles.ttf");
}
